<div class="content">
<div class="swantext">
<%= "                 " + "-" * (@swanText.length-19) %>
<%= @swanText %>
<%= "                 " + "_" * (@swanText.length-19) %>
      __..._        / 
    ,"       `.    / 
   /_.,o       `, / 
  (_, (  _.     ;
  / \,"'  )     :
 /,'`     ;    ;
(/       /     ;          _,--``>_____
        ;    ,;        _,"_,--"" ```>``>_
      ,'    //     _,-"_," //```) ```>##``>
     ;     // _,-"_,-"73 ```)    ``>####```>
   ,'     ((,"_,-" 3 3  ///   ////```>###``>
  ;      ;;"""   3     ```) ```) ```>### _> 
 :     `,"   3 3   3 ```    /// ```>#_.-'
 :   ` ;   3     3 //  ````)    `,> "-._
 `.,` (  3    3    )) )///    `,> ``    "-._,"/
   `.  ".__3  ___ 3  )      ,;" ))  ``     ) /
    `._    """   ```....--"")))))))`` ,,,)/,"
       "-._              `",,))))  ,,,___,"
           "\"._____....--.##---"""""
            "\._\__..__,'
                ||    \\
                //    ||
               //     ||
              //      ||
          _-.//_,    _||_,
            ,'      ,-'/
</div>
<p>What should the swan say?</p>
<%= form_with scope: "say", url: "/", method: :post, data: { turbo: false } do |form| %>  
<%= form.text_field :text %>  
<%= form.submit "Submit" %>  
<% end %>  
</div>
